<stylesheet type="text/css" ref="/static/css/main.css"/>

<header class="main header">
    <h1>{{header}}</h1>
</header>

<nav class="main-navigation">
    <ul class="nav-links">
	    {{#navigation}}
		<li class="nav-link">
		    <a href="{{link}}">{{name}}</a>
		</li>
        {{/navigation}} 
	</ul>
</nav>

<div class="main-container">
    <header class="blog-post-header">
      <h2 class="post-title">{{title}}</h2>
	  <p class="post-author-date">by {{author}} at {{date}}</p>
      <ul class="blog-post-tags">
	    {{#tags}}
		<li class="tag">{{.}}</li>
        {{/tags}} 
	  </ul>
    </header>
	
	<content class="blog-post-content">
	{{content}}
	</content>
</div>
